/**
 * General Colors
 */
$primary_color: #2FA0BB;
$link_color: #3A89A3;
$style_color: #474D57;
$bg_style_color: #2299BB;
$list-group-active-bg: $bg_style_color;
$hover: #D9EDF7;

/*
 * Success colors (green)
 */
$border_success: #469408;
$bg_success: #469408;

/*
 * Danger colors (red)
 */
$border_danger: #d43f3a;
$bg_danger: #d9534f;

/*
 * Primary colors (blue)
 */
$border_primary: #446e9b;
$bg_primary: #446e9b;

/*
 * Warning colors (yellow)
 */
$bg_warning: #d9831f;
$border_warning: #d9831f;

/**
 * Commit Diff Colors
 */
$added: #63c363;
$deleted: #f77;
