/*
 * Twitter bootstrap with GitLab customizations/additions
 *
 * Some unused bootstrap compontents like panels are not included.
 * Other components like tabs are modified to GitLab style.
 *
 */

$font-size-base: 13px !default;
$nav-pills-active-link-hover-bg: $bg_primary;
$pagination-active-bg: $bg_primary;

// Core variables and mixins
@import "bootstrap/variables";
@import "bootstrap/mixins";

// Reset
@import "bootstrap/normalize";
@import "bootstrap/print";

// Core CSS
@import "bootstrap/scaffolding";
@import "bootstrap/type";
@import "bootstrap/code";
@import "bootstrap/grid";
@import "bootstrap/tables";
@import "bootstrap/forms";

// Components
@import "bootstrap/component-animations";
@import "bootstrap/dropdowns";
@import "bootstrap/button-groups";
@import "bootstrap/input-groups";
@import "bootstrap/navs";
@import "bootstrap/navbar";
@import "bootstrap/breadcrumbs";
@import "bootstrap/pagination";
@import "bootstrap/pager";
@import "bootstrap/labels";
@import "bootstrap/badges";
@import "bootstrap/jumbotron";
@import "bootstrap/thumbnails";
@import "bootstrap/alerts";
@import "bootstrap/progress-bars";
@import "bootstrap/list-group";
@import "bootstrap/wells";
@import "bootstrap/close";
@import "bootstrap/panels";

// Components w/ JavaScript
@import "bootstrap/modals";
@import "bootstrap/tooltip";
@import "bootstrap/popovers";
@import "bootstrap/carousel";

// Utility classes
.clearfix {
  @include clearfix();
}
.center-block {
  @include center-block();
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.hide {
  display: none;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  @include text-hide();
}
.hidden {
  display: none !important;
  visibility: hidden !important;
}
.affix {
  position: fixed;
}

@import "bootstrap/responsive-utilities";

// Labels
.label {
  padding: 2px 4px;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  display: inline-block;

  &.label-gray {
    background-color: #eee;
    color: #999;
    text-shadow: none;
  }

  &.label-inverse {
    background-color: #333333;
  }
}

// Nav tabs
.nav.nav-tabs {
  margin-bottom: 15px;

  li {
    > a {
      padding: 8px 20px;
      margin-right: 7px;
      line-height: 20px;
      border-color: #EEE;
      color: #888;
      border-bottom: 1px solid #ddd;
      .badge {
        background-color: #eee;
        color: #888;
        text-shadow: 0 1px 1px #fff;
      }
      i[class^="icon-"] {
        line-height: 14px;
      }
    }
    &.active {
      > a {
        border-color: #CCC;
        border-bottom: 1px solid #fff;
        color: #333;
        font-weight: bold;
      }
    }
  }

  &.nav-small-tabs > li > a {
    padding: 6px 9px;
  }
}

.nav-tabs > li > a,
.nav-pills > li > a {
  color: #666;
}

.nav-small > li > a {
  padding: 3px 5px;
  font-size: 12px;
}


/*
 * Callouts from Bootstrap3 docs
 *
 * Not quite alerts, but custom and helpful notes for folks reading the docs.
 * Requires a base and modifier class.
 */

/* Common styles for all types */
.bs-callout {
  margin: 20px 0;
  padding: 20px;
  border-left: 3px solid #eee;
  color: #666;
  background: #f9f9f9;
}
.bs-callout h4 {
  margin-top: 0;
  margin-bottom: 5px;
}
.bs-callout p:last-child {
  margin-bottom: 0;
}

/* Variations */
.bs-callout-danger {
  background-color: #fdf7f7;
  border-color: #eed3d7;
  color: #b94a48;
}
.bs-callout-warning {
  background-color: #faf8f0;
  border-color: #faebcc;
  color: #8a6d3b;
}
.bs-callout-info {
  background-color: #f4f8fa;
  border-color: #bce8f1;
  color: #34789a;
}
.bs-callout-success {
  background-color: #dff0d8;
  border-color: #5cA64d;
  color: #3c763d;
}

// Breadcrumb
ul.breadcrumb {
  background: white;
  border: none;
  li {
    display: inline;
    text-shadow: 0 1px 0 white
  }

  a {
    font-size: 16px;
  }
}

/**
 * fix to keep tooltips position in top navigation bar
 *
 */
.navbar .nav > li {
  position: relative;
  white-space: nowrap;
}

/**
 * Add some extra stuff to panels
 *
 */
.panel {
  @include border-radius(0px);

  .panel-heading {
    @include border-radius(0px);
    font-size: 14px;
    line-height: 18px;

    .panel-head-actions {
      position: relative;
      top: -7px;
      float: right;
    }
  }

  .panel-body {
    form {
      margin: 0;
    }

    .form-actions {
      margin-bottom: 0;
      background: #FFF;
    }
  }

  &.panel-small {
    .panel-heading {
      padding: 6px 15px;
    }
  }
}

.panel-default {
  .panel-heading {
    background-color: #EEE;
  }
}

.panel-danger {
  border-color: $border_danger;
  .panel-heading {
    color: #ffffff;
    background-color: $bg_danger;
    border-color: $border_danger;
    a {
      color: #FFF;
      text-decoration: underline;
    }
  }
}

.panel-success {
  border-color: $border_success;
  .panel-heading {
    color: #ffffff;
    background-color: $bg_success;
    border-color: $border_success;
    a {
      color: #FFF;
      text-decoration: underline;
    }
  }
}

.panel-primary {
  border-color: $border_primary;
  .panel-heading {
    color: #ffffff;
    background-color: $bg_primary;
    border-color: $border_primary;
    a {
      color: #FFF;
      text-decoration: underline;
    }
  }
}

.panel-warning {
  border-color: $border_warning;
  .panel-heading {
    color: #ffffff;
    background-color: $bg_warning;
    border-color: $border_warning;
    a {
      color: #FFF;
      text-decoration: underline;
    }
  }
}
